# --- backend/ (Java / Maven) ---
backend/**/target/
backend/**/*.class
backend/**/*.jar
!backend/**/.mvn/wrapper/maven-wrapper.jar
backend/**/.mvn/timing.properties
backend/**/dependency-reduced-pom.xml

# --- frontend/ (Node / Vite) ---
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# --- operator-frontend/ (Node / Vite) ---
operator-frontend/node_modules/
operator-frontend/dist/
operator-frontend/dist-ssr/
operator-frontend/*.local
operator-frontend/logs
operator-frontend/*.log
operator-frontend/npm-debug.log*
operator-frontend/yarn-debug.log*
operator-frontend/yarn-error.log*
operator-frontend/pnpm-debug.log*
operator-frontend/lerna-debug.log*

# --- operator-frontend/ (Node / Vite) ---
bizz-fe/node_modules/
bizz-fe/dist/
bizz-fe/dist-ssr/
bizz-fe/*.local
bizz-fe/logs
bizz-fe/*.log
bizz-fe/npm-debug.log*
bizz-fe/yarn-debug.log*
bizz-fe/yarn-error.log*
bizz-fe/pnpm-debug.log*
bizz-fe/lerna-debug.log*

# --- IDE (any folder) ---
.idea/
*.iml
*.ipr
*.iws
.vscode/*
!.vscode/extensions.json
.classpath
.project
.settings/
.factorypath

# --- OS (any folder) ---
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
